.footer-container {
  text-decoration: none;
  background-color: var(--color-black, #000000);
  color: var(--color-dbdbdb, #dbdbdb);
  display: flex;
  justify-content: space-around;
  padding: 2rem 1rem;
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.footer-container p {
  font-size: 18px;
  text-decoration: none;
}

.footer-section {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  text-decoration: none;
}

.footer-section p {
  margin: 3px 0;
  color: #f1f1f1;
  text-decoration: none; /* Agrega esta línea */
}
.footer-section a {
  margin: 3px 0;
  color: #f1f1f1;
  text-decoration: none; /* Agrega esta línea */
}

.footer-section img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.social-media-icons {
  display: flex;
  gap: 10px;
}

.footer-column {
  display: flex;
  flex-direction: column;
}
